body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.customize-form {
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
  font-size: $l-size;
  background-color:rgba(215, 215, 215, 0.5);
}

.customize-form > div {
  text-align: left;
  color: $gray-900;
}

.form-control {
  font-size: $l-size;
}

@media (min-width: 992px) {
  .customize-form {
    font-size: $m-size;
  }
  .form-control {
    font-size: $m-size;
  }
}