/*!
 * Start Bootstrap - Converter APP v5.0.7 ()
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/converter-app/blob/master/LICENSE)
 */

body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.customize-form {
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
  font-size: 0.9rem;
  background-color: rgba(215, 215, 215, 0.5);
}

.customize-form > div {
  text-align: left;
  color: #212529;
}

.form-control {
  font-size: 0.9rem;
}

@media (min-width: 992px) {
  .customize-form {
    font-size: 1.1rem;
  }
  .form-control {
    font-size: 1.1rem;
  }
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(6rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #23D9B7 0%, #AB05F2 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 3rem;
}

header.masthead .masthead-content .masthead-subheading {
  padding-top: 10px;
  font-size: 1.5rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #AB05F2 0%, #23D9B7 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(5rem + 72px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 4.5rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }
}

.bg-primary {
  background-color: #AB05F2 !important;
}

.btn-primary {
  background-color: #AB05F2;
  border-color: #AB05F2;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #8804c0 !important;
  border-color: #8804c0 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(171, 5, 242, 0.5);
}

.btn-secondary {
  background-color: #23D9B7;
  border-color: #23D9B7;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #1cad92 !important;
  border-color: #1cad92 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(35, 217, 183, 0.5);
}

.footer-color {
  background: #212529;
  font-size: 22px;
}
